<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
 <head>
 <title><%= title %></title>
 </head>
 <body>
<button type="button" href="/list">Click Me!</button>
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/application.js"></script>
 <h1><%= title %></h1>
 </body>
</html>
