<div>
  <label>Task name:
    <input #taskName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(taskName.value); taskName.value=''">
    add
  </button>
</div>
<div>
  <br>
  <label>Filter:
  <select #taskFilter>
    <option value="None">All</option>
    <option value="false">Not Done</option>
    <option value="true">Done</option>
  </select>
  <button (click)="filter(taskFilter.value)">
    Filter
  </button>
</label>
<div *ngIf="tasks">
<ul>
  <li *ngFor="let task of tasks">
    <a routerLink="/detail/{{task._id}}">
      <p class="{{task.status}}">{{task.name}}-{{task.status}}</p>
    </a>
    <button type="button" (click)="delete(task)">x</button>
  </li>
</ul>
</div>
